<div class="mt-4"> {{!-- mt-4: margin-top --}}
    <div class="row">
    
        {{#each courses}}
    {{!-- 2 column tren giao dien nho,giao dien lon >=960px 3 col --}}
        <div class="col-sm-6 col-lg-4">
            <div class="card" style="width: 18rem;">
                <a href="/courses/{{this.slug}}">
                    <img src="{{this.image}}" class="card-img-top" alt="...">
                </a>
                <div class="card-body">
                    <h5 class="card-title">{{this.name}}</h5>
                    <p class="card-text">{{this.description}}</p>
                    <a href="/courses/{{this.slug}}" class="btn btn-primary">Mua khoa hoc</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>